<app-top-bar></app-top-bar>

	<h1>Angular Router</h1>
	<nav>
		<a routerLink="./" routerLinkActive="active">Products</a><br/>
		<a routerLink="/table-basic-example" routerLinkActive="active">a Table</a>
	</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>

<table-basic-example></table-basic-example>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->